<p-toast />

<div class="flex justify-content-center w-100 h-screen p-5">
    <div class="flex flex-column w-8">
        <h1>Place your order</h1>
        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="mt-5 w-100">
            <div class="flex flex-column gap-3">
                <label for="fullName">Full Name *</label>
                <input id="fullName" formControlName="fullName" pInputText />
            </div>
            <div class="flex flex-column gap-3 mt-3">
                <label for="phone">Phone *</label>
                <input id="phone" formControlName="phone" pInputText />
            </div>
            <div class="flex flex-column gap-3 mt-3">
                <label for="email">Email</label>
                <input id="email" formControlName="email" pInputText />
            </div>
            <div class="flex flex-column gap-3 mt-3">
                <label for="bookName">Book Name *</label>
                <input id="bookName" formControlName="bookName" pInputText />
            </div>
            <div class="flex flex-column gap-3 mt-3">
                <label for="bookAuthor">Book Author *</label>
                <input id="bookAuthor" formControlName="bookAuthor" pInputText />
            </div>
            <div class="flex flex-column gap-3 mt-3">
                <label for="publishingHouse">Publishing House</label>
                <input id="publishingHouse" formControlName="publishingHouse" pInputText />
            </div>
            <div class="flex flex-column gap-3 mt-3">
                <label for="amount">Amount *</label>
                <input id="amount" formControlName="amount" pInputText />
            </div>
            <div class="flex flex-column gap-3 mt-3">
                <label for="address">Address *</label>
                <input id="address" formControlName="address" placeholder="Delivery address, or easybox (leave empty if easybox)" pInputText />
            </div>
            <div class="flex flex-column gap-3 mt-3">
                <label for="urgency">Urgency *</label>
                <p-select id="urgency" formControlName="urgency"
                    [options]="[{label: 'Normal', value: 'normal'}, {label: 'Urgent', value: 'urgent'}, {label: '30 Days', value: '30days'}]"
                ></p-select>
            </div>
            <p-button label="Submit" [disabled]="orderForm.invalid" styleClass="mt-5 mb-5" (onClick)="onSubmit()" />
        </form>
    </div>
</div>